<div class="flex items-center ui-border-bottom-[zinc-300_2] text-zinc-500">
	<div class="ui-tab-base hover:text-zinc-700 aria-selected:ui-tab-top-underline-[indigo-700_2]">Tab 1</div>
	<div class="ui-tab-base hover:text-zinc-700 aria-selected:ui-tab-top-underline-[indigo-700_2]">Tab 2</div>
	<div class="ui-tab-base hover:text-zinc-700 aria-selected:ui-tab-top-underline-[indigo-700_2]" aria-selected="true">Tab 3</div>
	<div class="ui-tab-base hover:text-zinc-700 aria-selected:ui-tab-top-underline-[indigo-700_2]">Tab 4</div>
</div>
